*,
*::after,
*::before {
		box-sizing: border-box;
		padding: 0;
    margin: 0;
    }

    body {
        margin: auto;
        max-width: 1440px;
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        width: 100vw;
        height: 100vh;
    }

    header {
        min-height: 154px;
        background: rgba(7, 32, 63, 1);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid white;
    }

    .nickName {
        padding-left: 135px;
        text-decoration: none;
    }

    .navUl {
        padding-right: 135px;
        gap: 40px;
        list-style-type: none;
        display: flex;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .sectionOne {
        min-height: 801px;
        background: #07203f;;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sectionOneLeftBlock {
        display: flex;
        flex-direction: column;
        gap: 49px;
    }

    h1 {
        width: 705px;
        font-weight: 800;
        font-size: 64px;
        text-transform: uppercase;
        color: #d9d9d9;
    }

    p {
        font-weight: 400;
        font-size: 36px;
        color: #d9d9d9;
        max-width: 605px;
        min-height: 209px;
        display: flex;
        align-items: center;
    }

    button:active {
        transform: translateY(2px);
        }

    .sectionOneBtn {
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
        color: #000;
        width: 605px;
        height: 106px;
        border-radius: 100px;
        cursor: pointer;
    }

    .sectionOneImg {
        border-bottom: 5px solid #d9d9d9;
        border-radius: 383px;
        width: 516px;
        height: 516px;  
        object-fit: cover;
    }

    .sectionTwo {
        min-height: 796px;
        background-image: url(assets/image/фон\ блок2.jpg);
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-weight: 800;
        font-size: 72px;
        text-transform: uppercase;
        color: white;
        display: flex;
        justify-content: center;
        padding: 135px 0 70px 0;
    }

    .sectionTwoImg {
        width: 346px;
        height: 229px;
        object-fit: cover;
        border-radius: 50px;
    }

    .shin {
        width: 350px;
        height: 350px;
        background: #07203f;
        border: 2px solid rgb(24, 119, 243);
        font-weight: 800;
        font-size: 64px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 50px;
    }

    .wash {
        width: 350px;
        height: 350px;
        background: #8a8600;
        border: 2px solid rgb(255, 255, 255);
        font-weight: 800;
        font-size: 64px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 50px;
    }
    .sto {
        width: 350px;
        height: 350px;
        background: #8a8600;
        border: 2px solid rgb(255, 255, 255);
        font-weight: 800;
        font-size: 64px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 50px;
    }
    .sectionTwoDiv {
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .sectionThree {
        min-height: 1795px;
        background: #07203f;
}

    .sectionThreeDiv {
        max-width: 550px;
}

    .project {
        display: flex;
        justify-content: space-evenly;
        display: flex;
            padding-bottom: 135px;
}
    .sectionThreeImg {
        width: 540px;
        height: 366px;
        object-fit: cover;
        border-radius: 50px;
}

    .sectionThreeSpan {
        font-weight: 800;
        font-size: 48px;
        text-transform: uppercase;
        color: #d9d9d9;
}

    .sectionFour {
        min-height: 1141px;
        background-image: url(assets/image/background\ block\ 4.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
}

    .fieldset {
        width: 759px;
        height: 662px;
        background: rgba(255, 255, 255, 0.459);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 38px;
        border-radius: 50px;
}

    input {
        width: 631px;
        height: 98px;
        background: rgb(255, 255, 255);
        border: none;
        font-size: 35px;
        padding-left: 16px;
        border-radius: 50px;
}

    ::placeholder {
        font-weight: 500;
        font-size: 35px;
        color: #000;
        padding-left: 16px;

}

    .sectionFourBtn {
        width: 266px;
        height: 68px;
        font-size: 35px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
}

    .sectionFourBtnDiv {
        min-width: 631px;
        display: flex;
        justify-content: space-between;
}

    .sectionFive {
        min-height: 882px;
        background-color: #07203f;
        display: flex;
        flex-direction: column;
        align-items: center;
}

    .sectionFiveMain {
        display: flex;
        gap: 60px;
        color: white;
}

    .sectionFiveDiv {
        width: 350px;
        height: 350px;
        border-radius: 50px;
        background-image: url(assets/image/BgBtn1.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;
}

    .sectionFiveDiv2 {
        width: 350px;
        height: 350px;
        border-radius: 50px;
        background-image: url(assets/image/BgBtn2.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;
}

    .sectionFiveDiv3 {
        width: 350px;
        height: 350px;
        border-radius: 50px;
        background-image: url(assets/image/BgBtn3.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;
}
    .sectionFiveDivAHref {
        width: 300px;
        height: 70px;
        background-color: rgba(132, 132, 132, 0.809);
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
}

    footer {
        max-width: 1440px;
        height: 154px;
        background: rgba(7, 32, 63, 1);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid white;
    }

    @media screen and (max-width: 1024px) {
        body {
            width: 100%;
            max-width: none;
        }
        header {
            min-height: 342px;
        }
        .nickName {
            position: relative;
            right: 80px;
        }
        .navUl {
            flex-direction: column;
            align-items: end;
            padding-right: 50px;
        }
    .sectionOne {
        flex-direction: column-reverse;
    }
    .sectionOneImg {
        margin-top: 150px;
    }
    .sectionOneLeftBlock {
        margin: 40px 0 100px 0;
        align-items: center;;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .sectionTwo h2 {
        padding: 80px 0 220px;
    }
    .sectionTwo {
        background-size: cover;
    }
    .sectionTwoDiv {
        min-height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 700px;
    }
    h2 {
        display: flex;
        padding: 100px 0 60px;
    }
    .shin {
        position: absolute;
        left: 150px;
        z-index: 30;
    }
    .wash {
        position: absolute;
        top: 55px;
        z-index: 20;
    }
    .sto {
        position: absolute;
        top: 285px;
        right: 150px;
        z-index: 10;
    }
    .sectionThreeImg {
        width: 760px;
        height: 516px;
    }
    .project:nth-child(even) {
        flex-direction: column-reverse;
        align-items: end;
        padding-right: 50px;

    }
    .project:nth-child(odd) {
        flex-direction: column;
        padding-left: 50px;
    }
    .sectionThreeDiv:nth-child(even) {
        align-self: flex-start;
        padding-left: 50px;
    }
    .sectionThreeDiv:nth-child(even) p {
        text-align: start;
    }
    .sectionThreeDiv:nth-child(odd) {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        padding-right: 50px;
    }
    .sectionThreeDiv:nth-child(odd) p, 
    .sectionThreeDiv:nth-child(odd) span {
        text-align: end;
    }
    .sectionFiveMain {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 150px;
    }
    footer {
        min-height: 342px;
    }
    }

    @media screen and (max-width: 770px) {
        header {
            min-height: 140px;
        }
        .nickName {
            font-size: 24px;
        }
        .nav {
            display: none;
        }
        .sectionOneLeftBlock {
            gap: 0;
        }
        .sectionOneRightBlock {
            padding-top: 50px;
        }
        .sectionOneImg {
            width: 300px;
            height: 300px;
            margin-top: 0;
        
        }
        h1 {
            width: auto;
            font-size: 36px;
        }
        .sectionOneLeftBlock p {
            max-width: 350px;
            font-size: 24px;
        }
        .sectionOneBtn {
            max-width: 312px;
            font-size: 20px;
        }
        .sectionTwo h2 {
            display: none;
        }
        .sectionTwoDiv {
            padding: 50px 0 50px;
        }
        .shin {
            position: static;
        }
        .wash {
            position: static;
        }
        .sto {
            position: static;
        }

        .sectionThree {
            min-height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sectionThreeImg {
            width: 390px;
            height: 265px;
            margin-top: 15px;
        }
        .sectionThreeImg:nth-child(even) {
            margin: 20px;
        }
        .sectionThreeImg:nth-child(odd) {
            margin: 20px;
        }
        .sectionThreeSpan {
            font-size: 30px;
        }
        .sectionThreeDiv:nth-child(odd) span {
            text-align: center;
        }
        .sectionThreeDiv {
            padding: 0 !important;
        }
        .sectionThreeDiv p {
            font-size: 20px;
            min-height: auto;
            margin-top: 15px;
            text-align: center !important;
            padding: 0 5px;
        }
        .project {
            padding: 0 !important;
            margin-bottom: 50px;
            text-align: center !important;
        }

        .sectionFour {
            min-height: auto;
        }
        h2 {
            font-size: 35px;
        }
        .fieldset {
            width: 235px;
            height: 450px;
            margin-bottom: 50px;
        }
        input {
            width: 196px;
            height: 44px;
            padding-bottom: 15px;
            padding-left: 0;
        }
        ::placeholder {
            font-size: 12px;
        }
        .sectionFourBtnDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 35px;
        }
        .sectionFourBtn {
            width: 196px;
            height: 44px;
            font-size: 20px;
        }
        .sectionFiveMain {
            padding-bottom: 50px;
        }
        footer {
            min-height: 140px;
        }
    }
